#temno {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
}
#vsplitie {
  text-align: center;
  position: absolute;
  margin: auto;
}
.animationIMG{
  width: 90%;
}
.animationShow{
    animation-duration: 1.5s;  /* Время работы анимации */
      animation-fill-mode: both;  /* Поведение анимации */
      animation-name: showBlock; /* Имя анимации */
  }
  .animationDontShow{
    animation-duration: 1.5s;  /* Время работы анимации */
      animation-fill-mode: both;  /* Поведение анимации */
      animation-name: dontShowBlock; /* Имя анимации */
  }
  
  @keyframes showBlock { /* Сама анимация */
    0% {                /* Старт анимации */
        opacity: 0;
        /* transform: translate3d(0px, -100%, 0px); */
    }
    100% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 1;
        transform: none;
    }
  }
  
  @keyframes dontShowBlock { /* Сама анимация */
    0% {                /* Старт анимации */
        opacity: 1;
        /* transform: translate3d(0px, -100%, 0px); */
    }
    100% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 0;
        transform: none;
    }
  }


  /* 
  <div id="temno" class="animationShow">
	   <div id="vsplitie">
		  <img src="img/legends.jpg" class="animationIMG">
		</div>
   </div> 
   
   window.onload = function() {
				document.querySelector(".wrapper").style.display = 'none';
				let timer = 2000;
				setTimeout(() => {
					document.getElementById("temno").className = 'animationDontShow';
					document.querySelector(".wrapper").style.display = 'block';
				}, timer);
				
			};
   
   */