@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}


html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: url(../../img/bcg.jpg);
  background-attachment:  fixed;
  Background-size: cover;
}

.wrapper{
  display: none;
}
/* <> */
.applications__iframe {
  overflow: hidden;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
}

#temno {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
}
#vsplitie {
  text-align: center;
  position: absolute;
  margin: auto;
}

.animationShow{
    animation-duration: 1.5s;  /* Время работы анимации */
      animation-fill-mode: both;  /* Поведение анимации */
      animation-name: showBlock; /* Имя анимации */
  }
  .animationDontShow{
    animation-duration: 1.5s;  /* Время работы анимации */
      animation-fill-mode: both;  /* Поведение анимации */
      animation-name: dontShowBlock; /* Имя анимации */
  }
  
  @keyframes showBlock { /* Сама анимация */
    0% {                /* Старт анимации */
        opacity: 0;
        /* transform: translate3d(0px, -100%, 0px); */
    }
    100% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 1;
        transform: none;
    }
  }
  
  @keyframes dontShowBlock { /* Сама анимация */
    0% {                /* Старт анимации */
        opacity: 1;
        /* transform: translate3d(0px, -100%, 0px); */
    }
    100% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 0;
        transform: none;
    }
  }