@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Neucha&display=swap");

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #b9deed, #efefef);
}
.parent {
  margin: 10px 15px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
  max-width: 1000px;
}
.main__form__footer{
  /* border: 1px solid black; */
}
.header img {
  width: 400px;
}
.header__title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Neucha", cursive;
  padding: 0px 0 10px 0;
}
.header__title span {
  font-size: 40px;
  line-height: 30px;
  color: rgb(168, 168, 75);
}
.header__main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.main__form {
  display: none;
}

.main__form__question {
  font-family: "Arial", cursive;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0 20px 0;
  text-align: center;
  line-height: 50px;
}
.main__form__stihi {
  display: none;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
.main__form img {
  width: 450px;
  border: 1px solid black;
  margin-right: 30px;
}
.main__form__main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stihiStyle {
  font-family: "Marck Script", cursive;
  /* font-size: 40px; */
  /* font-size: 2.7vw; */
  margin: 0 0 15px 0;
  color: rgb(45, 32, 226);
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.stihiStyle__span__right{
  color: green;
  font-size: 50px;
}
.stihiStyle__span__incorrect{
  color: red;
  font-size: 50px;
}
.main__form__input {
  margin: 30px 0 30px 0;
  text-align: center;
}
.main__input {
  height: 50px;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  width: 500px    ;
}
.main__form__clue {
    font-size: 20px;
    margin-top: 10px;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    color: #36454A;
    background: -webkit-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: -o-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: linear-gradient(to top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    box-shadow: 2px 2px 3px black;
 }
 .main__form__clue:hover {
    background: -webkit-linear-gradient(bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: -o-linear-gradient(bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: linear-gradient(to bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
 }
/* при нажатии подсказки */
.main__form__clue span {
  visibility: hidden;
  position: absolute;
  background: #fff;
  box-shadow: -2px 2px 10px -1px #333; 
  border-radius: 50px;	
}
.imgClass{
  width: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 50px;
}
.main__form__button {
  text-align: center;
}
.main__button {
  padding: 15px;
  font-size: 40px;
  border-radius: 50px;
}
.main__button:hover {
  background-color: rgb(90, 204, 96);
  box-shadow: 0px 0px 30px rgb(102, 148, 235);
}
.main__next {
  display: none;
  margin-top: 10px;
  padding: 15px;
  font-size: 40px;
  border-radius: 50px;
}
.time{
  display: inline;
}
/* при правильном ответе */
.main__inputRight {
  color: yellow;
  background-color: green;
}
/* при неправильном ответе */
.main__inputIncorrect {
  color: yellow;
  background-color: red;
}

/*  Появляется в самом начале игры */

.start__game {
  margin-top: 30px;
}
.start__game p {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.start {
  font-size: 50px;
  padding: 15px;
  border-radius: 40px;
}
.start:hover {
  background-color: rgb(184, 237, 100);
  box-shadow: 0px 0px 30px rgb(121, 237, 100);
}

/* Появляется в самом конце игры */
.something__necessary {
  display: none;
}
.something__necessary__main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.something__necessary__main__P {
  font-size: 40px;
}
.showCorrectAnswer {
  font-size: 50px;
  color: green;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.showIncorrectAnswer {
  font-size: 50px;
  color: red;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.something__necessary__main__button {
}
.testAgain {
  border-radius: 40px;
  font-size: 25px;
  padding: 20px;
  margin-bottom: 20px;
}
.testAgain:hover {
  background-color: cornflowerblue;
  box-shadow: 0px 0px 30px cornflowerblue;
}
.testNext {
  color: red;
  border-radius: 40px;
  font-size: 50px;
  padding: 25px;
}
.testNext:hover {
  background-color: cornflowerblue;
  box-shadow: 0px 0px 30px cornflowerblue;
}

/* при уменьшении экрана */
@media (max-width: 600px) {
  .header__title {
    font-size: 25px;
    padding: 10px 0 10px 0;
  }
  .main__form__question{
    font-size: 30px;
    font-size: 4vw;
    margin: 20px 0 20px 0;
    line-height: 30px;
  }
  .stihiStyle {
    font-family: "Marck Script", cursive;
    font-size: 25px;
    font-size: 3vw;
    margin: 0 30px 15px 30px;
  }
  .main__input {
    width: auto;
    font-size: 15px;
    height: 20px;
  }
  .main__form__clue {
    padding: 5px;
    font-size: 15px;
  }
  .main__button {
    padding: 10px;
    font-size: 15px;
  }
  .main__button:hover {
    padding: 10px;
    font-size: 15px;
  }
  .start {
    font-size: 20px;
    padding: 10px;

  }
  .start:hover {
    font-size: 20px;
    padding: 10px;
   
  }
  .imgClass{
    width: 100px;
    height: 100px;
  }
}


/* анимации */

.parent {
  opacity: 0;
}
.something__necessary {
  opacity: 0;
}
.animationShow{
  animation-duration: 1s;  /* Время работы анимации */
    animation-fill-mode: both;  /* Поведение анимации */
    animation-name: showBlock; /* Имя анимации */
}
.animationShow3s{
  animation-duration: 3s;  /* Время работы анимации */
    animation-fill-mode: both;  /* Поведение анимации */
    animation-name: showBlock; /* Имя анимации */
}


.animationDontShow{
  animation-duration: 1s;  /* Время работы анимации */
    animation-fill-mode: both;  /* Поведение анимации */
    animation-name: dontShowBlock; /* Имя анимации */
}

@keyframes showBlock { /* Сама анимация */
  0% {                /* Старт анимации */
      opacity: 0;
      /* transform: translate3d(0px, -100%, 0px); */
  }
  100% {              /* в финале анимации - финал это заданная 0.55s */
      opacity: 1;
      transform: none;
  }
}

@keyframes dontShowBlock { /* Сама анимация */
  0% {                /* Старт анимации */
      opacity: 1;
      /* transform: translate3d(0px, -100%, 0px); */
  }
  100% {              /* в финале анимации - финал это заданная 0.55s */
      opacity: 0;
      transform: none;
  }
}